<div class="view">
    <div class="table-box">
  
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                
                    <th>First Name</th>
               
                    <th>Last Name</th>
                
                    <th>Email</th>
                    <th>Date</th>
                    <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of personal">
                    <td>{{item.username}}</td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.date_joined | date}}</td>
                    <td class="text-center">
                        <a [routerLink]="['/viewsingleuser']"
                        [queryParams]="{ ProID:item.id}">
                        <button class="detail-btn">Detail</button>
                      </a>
                    </td>
                </tr>
            </tbody>
          
        </table>  
        
    </div>
</div>
