<div class="view">
    <div class="table-box">
        <div class="date-bar">
            <label>To Date:</label>
            <input type="text">
            <label>From Date:</label>
            <input type="text">
            <button class="serch-btn">Search</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                
                    <th>First Name</th>
               
                    <th>Last Name</th>
                
                    <th>Email</th>
                    <th>Date</th>
                    <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of personal?.results">
                    <td>{{item.username}}</td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.date_joined | date}}</td>
                    <td class="text-center">
                        <button class="detail-btn">Detail</button>
                    </td>
                </tr>
            </tbody>
          
        </table>  
          <div  >
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li [ngClass]="{hide:pager.currentPage === 1}">
                        <a   (click)="viewuser(1)" class="view-1s" class="btn btn-fill">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === 1}">
                        <a   (click)="viewuser(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage <= 30}">
                        <a   (click)="viewuser(pager.currentPage - 30)">...</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a  (click)="viewuser(page)" class="view-plan-details">{{page | number}}</a>
                    </li>

                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"
                        *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                        <a   (click)="viewuser(pager.currentPage + 3)">...</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>Of</a></li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages
                                    | number}}</a>
                    </li>
                    <li *ngIf="pager.currentPage === pager.totalPages"> <a>Of</a></li>
                    <li *ngIf="pager.currentPage === pager.totalPages">
                        <a    (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages
                                    | number}}</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.currentPage + 1)" class="view-plan-details"
                            class="btn btn-fill" type="Next">
                            <i class="fa fa-angle-right top-set"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.totalPages)" class="view-plan-details"
                            class="btn btn-fill" type="Next">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>    
    </div>
</div>
