<div class="view">
    <div class="table-box">
        <div class="date-bar">
            <!-- <label>From Date:</label>
                  <input type="text" [(ngModel)]="model.datefrom" placeholder="yyyy-mm-dd" name="datefrom">
            <label>To Date:</label>
            <input type="text" [(ngModel)]="model.dateto" placeholder="yyyy-mm-dd" name="dateto"> -->
         

            <mat-form-field>
              <mat-label>From Date:</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>To Date:</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button class="serch-btn" (click)="postoffer()">Search</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                
                    <th>First Name</th>
               
                    <th>Last Name</th>
                
                    <th>Email</th>
                    <th>Date</th>
                    <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of personal?.results">
                    <td>{{item.username}}</td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.date_joined | date}}</td>
                    <td class="text-center">
                        <button class="detail-btn">Detail</button>
                    </td>
                </tr>
            </tbody>
          
        </table>  
          <!-- <div class="pagination-nav">

                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li [ngClass]="{hide:pager.currentPage === 1}">
                        <a   (click)="viewuser(1)" class="view-1s" class="btn btn-fill">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === 1}">
                        <a   (click)="viewuser(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                     
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a  (click)="viewuser(page)" class="view-plan-details">{{page | number}}</a>
                    </li>

                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"
                        *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                        <a   (click)="viewuser(pager.currentPage + 3)">...</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>Of</a></li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages
                                    | number}}</a>
                    </li>
                    <li *ngIf="pager.currentPage === pager.totalPages"> <a>Of</a></li>
                    <li *ngIf="pager.currentPage === pager.totalPages">
                        <a    (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages
                                    | number}}</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.currentPage + 1)" class="view-plan-details"
                            class="btn btn-fill" type="Next">
                            <i class="fa fa-angle-right top-set"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.totalPages)" class="view-plan-details"
                            class="btn btn-fill" type="Next">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>  -->
            <div class="pagination-nav">   
            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">


                    <li [ngClass]="{hide:pager.currentPage === 1}">
                      <a (click)="viewuser(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                        <i class="fa fa-angle-left"></i>
                      </a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a   (click)="viewuser(page)" class="view-plan-details">{{page}}</a>
                    </li>
  
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}" *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                      <a   (click)="viewuser(pager.currentPage + 3)">...</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>OF</a></li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                      <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages}}</a>
                    </li>
                    <!-- <li *ngIf="pager.currentPage === pager.totalPages"> <a>OF</a></li>
                    <li *ngIf="pager.currentPage === pager.totalPages">
                      <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages}}</a>
                    </li> -->
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                      <a   (click)="viewuser(pager.currentPage + 1)" class="view-plan-details" class="btn bd-color" type="Next">
                        <i class="fa fa-angle-right top-set"></i>
                      </a>
                    </li>
  
                  </ul>
                  </div>
                  <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{hide:pager.currentPage === 1}">
                          <a (click)=" viewuser(1)" class="btn btn-fill">First</a>
                        </li>
                        <li [ngClass]="{hide:pager.currentPage === 1}">
                          <a (click)=" viewuser(pager.currentPage - 1)" class="btn btn-fill">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                          <a (click)=" viewuser(page)" class="btn btn-fill">{{page}}</a>
                        </li>
                        <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                          <a (click)=" viewuser(pager.currentPage + 1)" class="btn btn-fill" type="Next">Next</a>
                        </li>
                        <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                          <a (click)=" viewuser(pager.totalPages)" class="btn btn-fill" type="Last">Last</a>
                        </li>
                      </ul> -->
    </div>
</div>
