.container-fluid{
    padding: 0;
}
.content-router-outlet{
    min-height: 400px;
    vertical-align: top;
    // width: 100%;
    width: calc(100% - 270px);
    float: right;
    margin-top: 75px;
    margin-right: 5px;
    background: #fafafa;
  }
  .sidebar-outlet{
    width: 260px;
    vertical-align: top;
    background: #fff;
    border-right: 1px solid #ebebeb;
    position: fixed;
    top: 75px;
    left: 0;
    height: 100%;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.5), 0 6px 20px 0 rgba(0,0,0,.19);
  }
  