<div class="view">
  <div class="table-box">
      <div class="">
         
            <div class="page-title">
                <h3 class="text-center">Update RFP Aproval Request</h3>
            </div>
         
            <div class="admin-home-palceholder">
          
              
                <div class="icons">     
                    <label class="product-label">Items per page:
                      </label>
                      <mat-form-field>
                
                          <mat-select class="width-sec" placeholder="" value="{{pageSize}}" #val
                              (valueChange)="page(val.value)" value="pageSize" required [(ngModel)]="pageSize"
                              name="pageSize">
                              <mat-option  value="10" selected="true">10</mat-option>
                              <mat-option  value="20">20 </mat-option>
                              <mat-option  value="30">30</mat-option>
                              <mat-option  value="50">50</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <button class="refrash" (click)="viewuser(1)">
                        <i class="fa fa-refresh"></i>
                     </button> 
                    
                
                     <button data-toggle="modal" data-target="#exampleModalCenter2" >
                                          
                        <i class="fa fa-search"></i></button>
                    </div>
        </div>
        
  
  

      </div>

      



      <div class="table-responsive">
      <table>
          <thead>
              <tr>
                  <th>RFP Key</th>
              
                  <th>RFP Title</th>
             
                  <th>Agency</th>
              
                  <th>Posted Date</th>
                  
                  <th>Status</th>
                  <th>Action</th>
                  
                
              </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let item of personal">
                  <td>{{item.rfpkey}}</td>
                  
                  
                 
                  <td>{{item.title | slice : 0 : 25 }}...</td>
                  <td>{{item.agency | slice : 0 : 25}}...</td>
                  <td>{{item.timestamp | date:"MMM d, y":"UTC"}}</td>
                  
                               
                  <td *ngIf="item.admin_approved == false">Pending</td>
                  <td *ngIf="item.admin_approved == ture">Approve</td>     
                 
                  <!-- <td>{{item.date_joined | date}}</td> -->
                  <td class="text-center">
                      
                        <a routerLink="/viewnewrfpDetails" [queryParams]="{ ProID:item.id}">    
                            <button class="detail-btn">                      
                      Details
                    </button>
                    </a>

                            <button *ngIf="item.admin_approved == false" (click)="updaterfpApprove(item.id)" class="detail-btn">
                          Aprove</button>

                    
                  </td>
              </tr>
          </tbody>
        
      </table>
      
      
      



      </div>



  </div>
  
   
          <div class="pagination-nav">   
            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">


                    <li [ngClass]="{hide:pager.currentPage === 1}">
                      <a (click)="viewupdaterfp(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                        <i class="fa fa-angle-left"></i>
                      </a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a   (click)="viewupdaterfp(page)" class="view-plan-details">{{page}}</a>
                    </li>
  
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}" *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                      <a   (click)="viewupdaterfp(pager.currentPage + 3)">...</a>
                    </li>
                    <!-- <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>OF</a></li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                      <a   (click)="viewupdaterfp(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages}}</a>
                    </li> -->
                    <li *ngIf="pager.currentPage === pager.totalPages"> <a>OF</a></li>
                    <li *ngIf="pager.currentPage === pager.totalPages">
                      <a   (click)="viewupdaterfp(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages}}</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                      <a   (click)="viewupdaterfp(pager.currentPage + 1)" class="view-plan-details" class="btn btn-fill" type="Next">
                        <i class="fa fa-angle-right top-set"></i>
                      </a>
                    </li>
  
                  </ul>
                  </div>
</div>
 

<div  class="modal fade login-or-signup" id="exampleModalCenter2" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered custom-model" style="animation-delay: 15s" role="document">
  <div class="modal-content login-template">
     
      <div class="on-load-popup">
          

                 <div class="date-bar">
                    <div class="pop-header">
                        <h1>Filter</h1>
                        <div class="close-button"> <button type="button" class="close sh" data-dismiss="modal"
                            aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                    </div>
                  <form  class="date-picker">
                    <mat-form-field>
                            <input matInput [matDatepicker] = "picker"   placeholder = "From Date" [(ngModel)]="model.datefrom" name="datefrom" >
                            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker] = "picker1"  placeholder = "To Date" [(ngModel)]="model.dateto" name="datefrom">
                      <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                   </mat-form-field>
                   <mat-form-field class="example-full-width">
                    <input matInput placeholder="Agency" [(ngModel)]="model.agency" name="agency">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="status" [(ngModel)]="model.status" name="status">
                  </mat-form-field>



                
                    
                    </form>
                 </div>
      </div>
      <div class="modal-footer text-center"> 
        
             
          <button title="Subscribe Now" type="button"
          class="btn btn-fill" data-dismiss="modal">Cancel</button> 
          <button class="btn btn-fill" (click)="postoffer(1)" data-dismiss="modal">Search</button>

                  
                   
      </div>
                  <!-- <countdown class="benner-conter mainpagee"  [text]="text" units=" Days | Hours | Minutes | Seconds" end="July 08, 2019 18:40:00"> </countdown> -->

  </div>
</div>
</div>
