<div class="view">
        <div class="table-box">
            <div class="">
                <!-- <form [formGroup]="date" class="date-picker">
                <mat-form-field>
                        <input matInput [matDatepicker] = "picker" formControlName="datefrom"  placeholder = "From Date">
                        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
               <mat-form-field>
                  <input matInput [matDatepicker] = "picker1" formControlName="dateto" placeholder = "To Date">
                  <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
               </mat-form-field>
                <button class="serch-btn" (click)="postoffer(1)">Search</button>
                </form> -->
    
                <div class="admin-home-palceholder">
                    <span>Total Records: {{personal?.totalItems}}</span>
                    <div class="icons">
                       <button class="refrash" (click)="viewuser(1)">
                          <i class="fa fa-refresh"></i>
                       </button> 
                      
                
                       
                
                          <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter3" >
                                    
                                <i class="fa fa-search"></i></button>
    
    
    
                    </div>
                </div>
    
            </div>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Ticket Id#</th>
                    
                        <th>Ticket Issue User</th>
                   
                         
                        <th>Subject</th>
                        <th>Priority</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of personal?.results">
                        <td>{{item.unique_ticket_id}}</td>
                        <td>{{item.user_id.first_name +" "+ item.user_id.last_name}}</td>
                        <!-- <td *ngIf="item.pkg_fk.pkg_type == 'B'">Basic</td>
                        <td *ngIf="item.pkg_fk.pkg_type == 'P'">Premium</td>
                        <td *ngIf="item.pkg_fk.duration == 'M'">Monthly</td>
                        <td *ngIf="item.pkg_fk.duration == 'Y'">Yearly</td> -->
                      
                        <td>{{item.subject}}</td>
                     
                        <td *ngIf="item.priority == 'M'">Medium </td>
                        <td *ngIf="item.priority == 'H'">High </td>
                        <td>{{item.description}}</td>
                        <td *ngIf="item.status == true">Done </td>
                        <td *ngIf="item.status == false">Pending </td>
                        
                        
                        
                        
                        <td class="text-center">
                            <button class="detail-btn" >
                            
                <a class="slider-img" [routerLink]="['/viewreply']" [queryParams]="{ id:  item.id }" 
                style="color: white">
                                Reply</a>
                                </button>
 
              
                        </td>
                    </tr>
                </tbody>
              
            </table>
        </div>  
            <div class="pagination-nav">   
                    <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
        
        
                            <li [ngClass]="{hide:pager.currentPage === 1}">
                              <a (click)="viewuser(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                                <i class="fa fa-angle-left"></i>
                              </a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                              <a   (click)="viewuser(page)" class="view-plan-details">{{page}}</a>
                            </li>
          
                            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}" *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                              <a   (click)="viewuser(pager.currentPage + 3)">...</a>
                            </li>
                            <!-- <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>OF</a></li>
                            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                              <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages}}</a>
                            </li> -->
                            <li *ngIf="pager.currentPage === pager.totalPages"> <a>OF</a></li>
                            <li *ngIf="pager.currentPage === pager.totalPages">
                              <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages}}</a>
                            </li>
                            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                              <a   (click)="viewuser(pager.currentPage + 1)" class="view-plan-details" class="btn btn-fill" type="Next">
                                <i class="fa fa-angle-right top-set"></i>
                              </a>
                            </li>
          
                          </ul>
                          </div>
             
        </div>
    </div>
    


    <div  class="modal fade login-or-signup" id="exampleModalCenter3" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered custom-model" style="animation-delay: 15s" role="document">
    <div class="modal-content login-template">
        <div class="close-button"> <button type="button" class="close sh" data-dismiss="modal"
          aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>
       <form>
        <div class="date-bar">
          <form [formGroup]="date" class="date-picker">
            <mat-form-field>
                    <input matInput [matDatepicker] = "picker" formControlName="datefrom"  placeholder = "From Date">
                    <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker] = "picker1" formControlName="dateto" placeholder = "To Date">
              <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
           </mat-form-field>
         
               <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name">
              </mat-form-field>

            
        


                <mat-form-field>
                    <mat-label>Subscription</mat-label>
                    <mat-select >
                      <mat-option>None</mat-option>
                      <mat-option value="option2">Active</mat-option>
                      <mat-option value="option3">Expire</mat-option>
                    </mat-select>
                  </mat-form-field>
                
                </form>
         </div>
            
        <div class="modal-footer text-center"> 
          
               
                <a > <button title="Subscribe Now" type="button"
                    class="btn btn-fill" data-dismiss="modal">Cencel</button> </a>
                <a > <button title="Subscribe Now" type="button"
                    class="btn btn-fill" data-dismiss="modal"  (click)="postoffer2(1)" data-dismiss="modal">Search</button> </a>

                     
        </div>
        </form>
                    <!-- <countdown class="benner-conter mainpagee"  [text]="text" units=" Days | Hours | Minutes | Seconds" end="July 08, 2019 18:40:00"> </countdown> -->

    </div>
</div>
</div>