.date-bar{
    padding: 10px 20px;
}
.mat-form-field{
    width: 100% !important;
    margin: 0 0 10px;
}
.date-bar label{
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 500;
}
.icons button{
    background: #000;
    color: #fff;
    padding: 4px 15px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}
.icons button:hover{
    background: #C00;
}
.table-box table{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.table-box table th{
    background: #000;
    color: #fff;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}
.table-box tbody tr{
    border-bottom: 1px solid #ccc;
}
.table-box table td{
    padding: 5px;
}
.table-box table .detail-btn{
    background: #000;
    color: #fff;
    padding: 4px 15px;
    border-radius: 30px;
    border: none;
}
.table-box table .detail-btn:hover{
    background: #C00;
}


.admin-home-palceholder{
    display: flex;
}
.admin-home-palceholder span{
    font-size: 16px;
    font-weight: bold;
    margin-top: 19px;
}
.admin-home-palceholder .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.admin-home-palceholder .icons button{
    margin: 0 3px;
}

.pop-header{
    background: #000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 2px #ccc;
    position: relative;
    margin: -30px 0 0 0;
    padding: 5px 10px;
    text-align: center;
}
.pop-header h1{
    margin: 0;
    font-size: 30px;
}
.date-bar button{
    position: absolute;
    color: #fff;
    border-radius: 30px;
    border: none;
    top: 0px;
    right: 5px;
    opacity: 9;
}
.date-bar button:hover{
    background: #000;
}
.close{
    font-size: 25px;
}

.modal-footer {
    justify-content: center;
    padding: 7px;
}




table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
.product-label{
    margin-right: 10px;
    font-weight: bold;
}
.icons .mat-form-field{
    margin-bottom: 0px;
    width: 100px !important;
}