<div class="view">
    <div class="table-box">
        <div class="date-bar">
            <label>From Date:</label>
            <input type="text" [(ngModel)]="model.datefrom" placeholder="yyyy-mm-dd" ngModel="datefrom" name="datefrom">
      <label>To Date:</label>
      <input type="text" [(ngModel)]="model.dateto" placeholder="yyyy-mm-dd" name="dateto">
   
      <button class="serch-btn" (click)="postoffer()">Search</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Company Name</th>
                
                    <th>Full Name</th>
               
                    <th>Package Type</th>
                
                    <th>Package Duration</th>
                    <th>Pay Date</th>
                    <th>End Date</th>
                    <th>Package Status</th>
                    <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of personal?.results">
                    <td>{{item.reg_fk.company}}</td>
                    <td>{{item.reg_fk.user.first_name +" "+ item.reg_fk.user.last_name}}</td>
                    <td *ngIf="item.pkg_fk.pkg_type == 'B'">Basic</td>
                    <td *ngIf="item.pkg_fk.pkg_type == 'P'">Premium</td>
                    <td *ngIf="item.pkg_fk.duration == 'M'">Monthly</td>
                    <td *ngIf="item.pkg_fk.duration == 'Y'">Yearly</td>
                  
                    <td>{{item.pay_date | date}}</td>
                    <td>{{item.end_date | date}}</td>
                    <td *ngIf="item.is_expired == false">Active </td>
                    <td *ngIf="item.is_expired == true">Expire </td>
                    <!-- <td>{{item.is_expired}}</td> -->
                    
                    
                    
                    <td class="text-center">
                        <button class="detail-btn">Detail</button>
                    </td>
                </tr>
            </tbody>
          
        </table>  
          <div  >
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li [ngClass]="{hide:pager.currentPage === 1}">
                        <a   (click)="viewuser(1)" class="view-1s" class="btn btn-fill">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === 1}">
                        <a   (click)="viewuser(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage <= 30}">
                        <a   (click)="viewuser(pager.currentPage - 30)">...</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a  (click)="viewuser(page)" class="view-plan-details">{{page | number}}</a>
                    </li>

                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"
                        *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                        <a   (click)="viewuser(pager.currentPage + 3)">...</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>Of</a></li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages
                                    | number}}</a>
                    </li>
                    <li *ngIf="pager.currentPage === pager.totalPages"> <a>Of</a></li>
                    <li *ngIf="pager.currentPage === pager.totalPages">
                        <a    (click)="viewuser(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages
                                    | number}}</a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.currentPage + 1)" class="view-plan-details"
                            class="btn btn-fill" type="Next">
                            <i class="fa fa-angle-right top-set"></i>
                        </a>
                    </li>
                    <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                        <a   (click)="viewuser(pager.totalPages)" class="view-plan-details"
                            class="btn btn-fill" type="Next">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>    
    </div>
</div>
