<div class="sidebar-holder side-bar-component" id="side">
    <div class="sidebar-admin">
        
        <div class="user-sidebar">
               
            <ul>
                <li><a routerLink="/dashboard" routerLinkActive="active-route">
                        <i class="fa fa-newspaper-o"></i>RFP Dashboard</a>
                </li>

                <li><a routerLink="/viewuser" routerLinkActive="active-route">
                        <i class="fa fa-bell"></i>User Request</a>
                </li>

                <li><a routerLink="/viewuserpay" routerLinkActive="active-route">
                        <i class="fa fa-heart"></i>Subscription User</a>
                </li>
                <li><a routerLink="/viewsubscribeuser" routerLinkActive="active-route">
                        <i class="fa fa-heart"></i>Trail Subscription User</a>
                </li>
                <li><a routerLink="/viewprice" routerLinkActive="active-route">
                        <i class="fa fa-heart"></i>Package Price </a>
                </li>
                <li><a routerLink="/viewimage" routerLinkActive="active-route">
                        <i class="fa fa-heart"></i>Change/Update Prcice Image </a>
                </li>
                

                 <li><a routerLink="/viewticket" routerLinkActive="active-route">
                        <i class="fa fa-user-circle"></i>View Ticket</a>
                </li>
               <!-- <li><a routerLink="/purchase-history" routerLinkActive="active-route">
                        <i class="fa fa-history"></i>Subscription</a>
                </li>

                <li><a routerLink="/payment" routerLinkActive="active-route">
                        <i class="fa fa-money"></i>Payment Methods</a>
                </li>
                <li><a routerLink="/change-password" routerLinkActive="active-route">
                        <i class="fa fa-key"></i>Change Password</a>
                </li>
                <li> <a routerLink="/contact-us">
                        <i class="fa fa-comment"></i>
                        Contact Us</a>
                </li> -->
                <li><a (click)="logout()">
                        <i class="fa fa-sign-out"></i>Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>