
.sidebar-admin {
    padding: 0;
    min-height: 100%;
    color: #fff;
    
  }
  
  .side-bar-component .user-sidebar ul li {
    list-style: none;
    padding: 0;
    margin: 0
  }
  
  .side-bar-component .user-sidebar ul li a {
    color: #222;
    font-size: 16px!important;
    padding: 12px 0;
    display: block;
    font-weight: 500;
    outline: 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    position: relative;
    padding-left: 46px;
  }
  
  .side-bar-component .user-sidebar ul li a i {
    position: absolute;
    left: 12px;
    top: 11px;
    color: #555;
    font-size: 25px;
    width: 30px;
    text-align: center;
  }
  
  .side-bar-component .user-sidebar ul li a:hover {
    // background-color: #a9a9a9;
    text-decoration: none;
  }
  .active-route {
    background-color: #a9a9a9;
    color: #222 !important;
    // border-top: 1px solid #ccc;
    // border-bottom: 1px solid #ccc; 
    text-decoration: none;
  }
  
  /* ................... */
  .sidebar-dashboard-title {
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: 500;
  }
  .user-sidebar ul{
    padding: 0
}