<div class="view">
        <div class="table-box">
            
            <table>
                <thead>
                    <tr>
                        <th>Free Trial.</th>
                    
                        <th>Monthly Trial</th>
                   
                        <th>Yealy Trial</th>
                    
                       
                      
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td><img src="{{personal?.free_trial}}"></td>
                        <td><img src="{{personal?.monthly_plan}}"></td>
                       
                        <td><img src="{{personal?.yearly_plan}}"></td>
                      
                       
                       
                        <!-- <td>{{item.date_joined | date}}</td> -->
                        <td class="text-center">
                            
                            <button class="detail-btn" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                                Detail</button>
    
                          
                        </td>
                    </tr>
                </tbody>
              
            </table>  
              
        </div>
    </div>
     