<div class="view">
        <!-- <div class="table-box">
            
            <table>
                <thead>
                    <tr>
                        <th>Free Trial.</th>
                    
                        <th>Monthly Trial</th>
                   
                        <th>Yealy Trial</th>
                    
                       
                      
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td><img src="{{personal?.free_trial}}"></td>
                        <td><img src="{{personal?.monthly_plan}}"></td>
                       
                        <td><img src="{{personal?.yearly_plan}}"></td>
                      
                       
                        <td class="text-center">
                            
                            <button class="detail-btn" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                                Detail</button>
    
                          
                        </td>
                    </tr>
                </tbody>
              
            </table>  
              
        </div> -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Free Trial</h2>
                    </div>
                    <div class="body">
                        <div class="img">
                            <img src="{{personal?.free_trial}}"> 
                        </div>
                    </div>
                    <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                            Update</button>
                </div>
            </div>

            
            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Monthly Trial</h2>
                    </div>
                    <div class="body">
                        <div class="img">
                            <img src="{{personal?.monthly_plan}}"> 
                        </div>
                    </div>
                    <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                            Update</button>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Yealy Trial</h2>
                    </div>
                    <div class="body">
                        <div class="img">
                            <img src="{{personal?.yearly_plan}}"> 
                        </div>
                    </div>
                    <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                            Update</button>
                </div>
            </div>
        </div>
        

    </div>
    <div  class="modal fade login-or-signup" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-model" style="animation-delay: 15s" role="document">
        <div class="modal-content login-template">
           
            <div class="on-load-popup">
                <div class="close-button"> <button type="button" class="close sh" data-dismiss="modal"
                        aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>
    
                        <form class="popup-form">
                        
                                <input matInput placeholder="Duration" value={{duration}}>
                            
                            
                                <input matInput placeholder="Package Type" value="{{package}}">
                            
                                <input matInput placeholder="Package Price"  [(ngModel)]="price" value="{{price}}" [ngModelOptions]="{standalone: true}">   
                               
                        </form>
            </div>
            <div class="modal-footer text-center"> 
              
                   
                    <a routerLink="/pricing"> <button title="Subscribe Now" type="button"
                        class="btn btn-fill" data-dismiss="modal">Cencel</button> </a>
                    <a routerLink="/pricing"> <button title="Subscribe Now" type="button"
                        class="btn btn-fill" data-dismiss="modal">Update</button> </a>
    
                         
            </div>
                        <!-- <countdown class="benner-conter mainpagee"  [text]="text" units=" Days | Hours | Minutes | Seconds" end="July 08, 2019 18:40:00"> </countdown> -->
    
        </div>
    </div>
    </div>