<div class="view">
        <!-- <div class="table-box">
            
            <table>
                <thead>
                    <tr>
                        <th>Free Trial.</th>
                    
                        <th>Monthly Trial</th>
                   
                        <th>Yealy Trial</th>
                    
                       
                      
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td><img src="{{personal?.free_trial}}"></td>
                        <td><img src="{{personal?.monthly_plan}}"></td>
                       
                        <td><img src="{{personal?.yearly_plan}}"></td>
                      
                       
                        <td class="text-center">
                            
                            <button class="detail-btn" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                                Detail</button>
    
                          
                        </td>
                    </tr>
                </tbody>
              
            </table>  
              
        </div> -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Free Trial</h2>
                    </div>
                    <div class="body">
                        <div class="img">
                            <img src="{{personal?.free_trial}}"> 
                        </div>
                    </div>
                    <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                            Update</button>
                </div>
            </div>

            
            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Monthly Trial</h2>
                    </div>
                    <div class="body">
                        <div class="img">
                            <img src="{{personal?.monthly_plan}}"> 
                        </div>
                    </div>
                    <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                            Update</button>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Yealy Trial</h2>
                    </div>
                    <div class="body">
                        <div class="img">
                            <img src="{{personal?.yearly_plan}}"> 
                        </div>
                    </div>
                    <button class="btn-fill btn-width" data-toggle="modal" data-target="#exampleModalCenter" (click)="veiwvalue(item.duration,item.pkg_type,item.pkg_price)">
                                
                            Update</button>
                </div>
            </div>
        </div>
        

    </div>
     