<div class="single-page">
    <button (click)="newrfpApprove(item?.id)" class="detail-btn">
        Aprove</button>
  <div class="card">
    <div class="row">
      <div class="col-md-6 detail-box">
        <label>rfp_number: :</label>
        <span>{{idview?.rfp_number}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>rfp_reference:</label>
        <span>{{idview?.rfp_reference}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>rfpkey:</label>
        <span>{{idview?.rfpkey}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>SeoTitleUrl: </label>
        <span>{{idview?.seoTitleUrl}}</span>
      </div>
      
      <div class="col-md-6 detail-box">
        <label>state:</label>
        <span>{{idview?.state}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>status:</label>
        <span>{{idview?.status}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Sub Category: </label>
        <span>{{idview?.sub_category}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>time Stamp:</label>
        <span>{{idview?.timestamp}}</span>
      </div>
      <div class="col-md-12 detail-box">
        <label>address:</label>
        <span>{{idview?.address}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Admin Approved:</label>
        <span>{{idview?.admin_approved}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Agency:</label>
        <span>{{idview?.agency}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Award Date: </label>
        <span>{{idview?.award_date}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Agency Type:</label>
        <span>{{idview?.agency_type}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Bid Type:</label>
        <span>{{idview?.bid_type}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Buyer:</label>
        <span>{{idview?.buyer}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Category:</label>
        <span>{{idview?.category}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>city:</label>
        <span>{{idview?.company}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>City OR County: :</label>
        <span>{{idview?.city_or_county}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>contact:</label>
        <span>{{idview?.contact}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Contract Name:</label>
        <span>{{idview?.contract_name}}</span>
      </div>
      
      <div class="col-md-6 detail-box">
        <label>Date Entered:</label>
        <span>{{idview?.date_entered}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Description:</label>
        <span>{{idview?.deescription }}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>descriptionTag:</label>
        <span>{{idview?.descriptionTag}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>designation:</label>
        <span>{{idview?.designation}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Due Date:</label>
        <span>{{idview?.due_date}}</span>
      </div>
      
      <div class="col-md-6 detail-box">
        <label>email:</label>
        <span>{{idview?.email}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>fax:</label>
        <span>{{idview?.fax}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>governmentbidsusers id:</label>
        <span>{{idview?.governmentbidsusers_id}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>id:</label>
        <span>{{idview?.id}}</span>
      </div>
      
      <div class="col-md-6 detail-box">
        <label>link:</label>
        <span>{{idview?.link}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>naics:</label>
        <span>{{idview?.naics}}</span>
      </div>
   
      <div class="col-md-6 detail-box">
        <label>New Category:</label>
        <span>{{idview?.new_category}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Open Rfp:</label>
        <span>{{idview?.open_rfp}}</span>
      </div>

      <div class="col-md-6 detail-box">
        <label>phone:</label>
        <span>{{idview?.phone}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>profileurl:</label>
        <span>{{idview?.profileurl}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label>Record Added:</label>
        <span>{{idview?.record_added}}</span>
      </div>
      
      <div class="col-md-12 detail-box">
        <label class="width">Updated Record: </label>
        <span>{{idview?.updated_record}}</span>
      </div>
      <div class="col-md-12 detail-box">
        <label class="width">Uploaded by Agency: </label>
        <span>{{idview?.uploaded_by_agency}}</span>
      </div>
      <div class="col-md-6 detail-box">
        <label class="width">Web Info: </label>
        <span>{{idview?.web_info}}</span>
      </div>

      <div class="col-md-12 detail-box">
        <label class="width">Work Performance: </label>
        <span>{{idview?.work_performance}}</span>
      </div>

      <ng-template #pkg1>
        ---
      </ng-template>
      <!-- county_preference -->
    </div>
  </div>

</div>