<div class="view">
  <div class="table-box">
      <div class="">
         
            <div class="page-title">
                <h3 class="text-center">New RFP Aproval Request</h3>
            </div>

      </div>


      



      <div class="table-responsive">
      <table>
          <thead>
              <tr>
                  <th>RFP Key</th>
              
                  <th>RFP Title</th>
             
                  <th>Agency</th>
              
                  <th>Posted Date</th>
                  
                  <!-- <th>Date</th> -->
                  <th>Action</th>
                  
                
              </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let item of personal.results">
                
                  <td>{{item.rfpkey}}</td>
                  <td>{{item.title | slice : 0 : 45 }}...</td>
                  <td>{{item.agency | slice : 0 : 45}}...</td>
                  <td>{{item.timestamp | date:"MMM d, y":"UTC"}}</td>
                  
                  <!-- <td>{{item.date_joined | date}}</td> -->
                  <td class="text-center">
                      
                       
                            <a routerLink="/viewnewrfpDetails" [queryParams]="{ ProID:item.id}">    
                                <button class="detail-btn">                      
                          Details
                        </button>
                        </a>
              
                        <button (click)="newrfpApprove(item.id)" class="detail-btn">
                          Aprove</button>

                  </td>
              </tr>
          </tbody>
        
      </table>
      
      
      



      </div>



  </div>
</div>

<!-- <div  class="modal fade login-or-signup" id="exampleModalCenter" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered custom-model" style="animation-delay: 15s" role="document">
  <div class="modal-content login-template">
     
      <div class="on-load-popup">
          
              <div class="date-bar">
                  <div class="pop-header">
                      <h1>Promo Code</h1>
                      <div class="close-button"> <button type="button" class="close sh" data-dismiss="modal"
                          aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                      </div>
                  </div>
                  <form class="date-picker">
                 
                        <mat-form-field class="example-full-width">
                            <input  matInput [matDatepicker]="myPicker" value="{{datefrom}}"  placeholder="Valid From">
                            <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                            <mat-datepicker #myPicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input  matInput [matDatepicker]="myPicker1" value="{{dateto}}"  placeholder="Valid To">
                            <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
                            <mat-datepicker #myPicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Discount"   value="{{discount}}">   
                        </mat-form-field>
                        <mat-form-field>
                          
                            <mat-select  [(ngModel)]="valid" name="valid">
                              <mat-option  [value]="valid"  >{{valid}}</mat-option>
                              <mat-option  value="false" >Expire</mat-option>
                            </mat-select>
                        </mat-form-field>
                  </form>
                 
              </div>
      </div>
      <div class="modal-footer text-center"> 
        
             
               
                   <button title="Subscribe Now" type="button"
                  class="btn btn-fill" data-dismiss="modal">Cancel</button>  
               
                   
      </div>
                  </div>
</div>
</div> -->
