<p style="
padding-left: 300px;">dashboard works!
Experienced Software Engineer with a demonstrated history of working in the information technology and services industry. Skilled in ASP.NET,C#, SQL, Management,Django Rest Frame work, Angular 4,5,6. Strong engineering professional with a Bachelor's degree focused in Software Engineering from The University of Faisalabad. 
I am professional Web Developer and having good knowledge of Frontend Developer Angular 4/5 .I have good command over back end programming as well as Web UI/UX..
I am competent enough to work under the tight deadlines and in pressure situations and always try my level best to fulfill my responsibilities and take a part in the progress of organization.
-Languages :Typescript,Asp.Net,C#,Oracle
-Databases :MySql,postgresql,Microsoft SQL
-Framework :Angular 4/5,6,7.Net Frame Work 
- Front End : HTML/HTML 5,CSS/CSS3,Sass,Bootstrap,Sass,java Script 
</p>