.padd{
    padding: 15px;
}
.mrg-btm{
    margin-bottom: 20px;
}
.box{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 10px 10px;
    display: block;
    min-height: 90px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.box:hover{
    transform: scale(1.05);
}
.box h3{
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}
.box .icon{
    width: 59px;
    height: 59px;
    border-radius: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    float: left;
    transition: 1s;
}
.box .icon img{
    width: 60%;
    transition: 1s;
}
.box p{
    margin: 0;
    line-height: 17px;
}
