<div class="view">
    <div class="container-fluid padd">
        <div class="row mrg-btm">
            <div class="col-sm-4">
                <div class="box">
                    <div class="icon">
                        <img class="black" src="../../assets/img/Icons/Black Icons/1. Registered Users.png">
                    </div>
                    
                    <p>Registered Users</p>
                    <h3>{{personal.Total_Register_User}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                        <div class="icon">
                                <img src="../../assets/img/Icons/Black Icons/2. Active Users.png">
                            </div>
                    <p>Active Users</p>
                    <h3>{{personal.Total_Active_User}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="box">
                            <div class="icon">
                                    <img src="../../assets/img/Icons/Black Icons/3. Total Trail Subscribe.png">
                                </div>
                        <p>Total Trial Subscribe Users</p>
                        <h3>{{personal.Total_Trial_Subscriber}}</h3>
                    </div>
                </div>
        </div>
        <div class="row mrg-btm">
            <div class="col-sm-4">
                <div class="box">
                        <div class="icon">
                                <img src="../../assets/img/Icons/Black Icons/4. Total Active Monthly Subscription.png">
                            </div>
                    <p>Total Active Monthly Subscription</p>
                    <h3>{{personal.Active_Montly_Subscriber}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                        <div class="icon">
                                <img src="../../assets/img/Icons/Black Icons/5. Total Active Yearly Subscription.png">
                            </div>
                    <p>Total Active Yearly Subscription</p>
                    <h3>{{personal.Active_Yearly_Subscriber}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                        <div class="icon">
                                <img src="../../assets/img/Icons/Black Icons/6. Total Active Payment Subscription.png">
                            </div>
                    <p>Total Active Payment Subscription</p>
                    <h3>{{personal.Active_Payment_Subscriber}}</h3>
                </div>
            </div>
        </div>
        <div class="row mrg-btm">
                <div class="col-sm-4">
                    <div class="box">
                            <div class="icon">
                                    <img src="../../assets/img/Icons/Black Icons/7. Total Monthly Subscription.png">
                                </div>
                        <p>Total Monthly Subscription</p>
                        <h3>{{personal.Total_Montly_Subscriber}}</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box">
                            <div class="icon">
                                    <img src="../../assets/img/Icons/Black Icons/8. Total Yearly Subscription.png">
                                </div>
                        <p>Total Yearly Subscription</p>
                        <h3>{{personal.Total_Yearly_Subscriber}}</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box">
                            <div class="icon">
                                    <img src="../../assets/img/Icons/Black Icons/9. Total Payment Subscription.png">
                                </div>
                        <p>Total Payment Subscription</p>
                        <h3>{{personal.Total_Payment_Subscriber}}</h3>
                    </div>
                </div>
            </div>
    </div>
</div>