<div class="view">
    <div class="container-fluid padd">
        <div class="row mrg-btm">
            <div class="col-sm-4">
                <div class="box">
                    <i class="fa fa-user"></i>
                    <p>Registered Users</p>
                    <h3>{{personal.Total_Register_User}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <i class="fa fa-life-ring fa-spin"></i>
                    <p>Active Users</p>
                    <h3>{{personal.Total_Active_User}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="box">
                        <i class="fa fa-users"></i>
                        <p>Total Trial Subscribe Users</p>
                        <h3>{{personal.Total_Trial_Subscriber}}</h3>
                    </div>
                </div>
        </div>
        <div class="row mrg-btm">
            <div class="col-sm-4">
                <div class="box">
                    <i class="fa fa-life-ring"></i>
                    <p>Total Active Monthly Subscription Active</p>
                    <h3>{{personal.Active_Montly_Subscriber}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <i class="fa fa-life-ring"></i>
                    <p>Total Active Yearly Subscription</p>
                    <h3>{{personal.Active_Yearly_Subscriber}}</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <i class="fa fa-life-ring"></i>
                    <p>Total Active Payment Subscription</p>
                    <h3>{{personal.Active_Payment_Subscriber}}</h3>
                </div>
            </div>
        </div>
        <div class="row mrg-btm">
                <div class="col-sm-4">
                    <div class="box">
                        <i class="fa fa-life-ring"></i>
                        <p>Total Monthly Subscription</p>
                        <h3>{{personal.Total_Montly_Subscriber}}</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box">
                        <i class="fa fa-life-ring"></i>
                        <p>Total Yearly Subscription</p>
                        <h3>{{personal.Total_Yearly_Subscriber}}</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box">
                        <i class="fa fa-life-ring"></i>
                        <p>Total Payment Subscription</p>
                        <h3>{{personal.Total_Payment_Subscriber}}</h3>
                    </div>
                </div>
            </div>
    </div>
</div>