<div class="single-page">
        <div class="page-title">
            <h3 class="text-center">Registered User Detail</h3>
        </div>
    <div class="card">
        <div class="row">
            <div class="col-md-6 detail-box">
                <label>First Name:</label>
                <span>{{personal?.UserDetail.user.first_name +' '+ personal?.UserDetail.user.last_name}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>UserName:</label>
                <span>{{personal?.UserDetail.user.username}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>Email:</label>
                <span class="blue-color">{{personal?.UserDetail.user.email}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>Zip Code:    </label>
                <span>{{personal?.UserDetail.zipcode}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>City:</label>
                <span>{{personal?.UserDetail.city}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>Country:</label>
                <span>{{personal?.UserDetail.country}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>States:</label>
                <span>{{personal?.UserDetail.state}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>Phone no:</label>
                <span>{{personal?.UserDetail.phone_no}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label>Comapany:</label>
                <span>{{personal?.UserDetail.company}}</span>
            </div>
            <div class="col-md-12 detail-box">
                    <label class="width">Address:</label>
                    <span>{{personal?.UserDetail.address}}</span>
                </div>
            <div class="col-md-12 detail-box tag">
                <label class="width">User Preference:</label>
                <span>{{personal?.UserDetail.user_preference}}</span>
                <span>Name</span>
            </div>
            <div class="col-md-12 detail-box">
                <label class="width">State Preference:</label>
                <span>{{personal?.UserDetail.state_preference}}</span>
            </div>
            <div class="col-md-6 detail-box">
                <label class="width">Country Preference:</label>
                <span>{{personal?.UserDetail.county_preference}}</span>
            </div>
            
            <div class="col-md-12 detail-box">
                <label class="width">Agency Preference:</label>
                <span>{{personal?.UserDetail.agency_preference}}</span>
            </div>
                
                <ng-template #pkg1>
                   ---
                  </ng-template>
                <!-- county_preference -->
        </div>
    </div>
    <div class="table-box">
        <h3> Card Detail </h3>
            <table>
                    <thead>
                        <tr>
                            <th>Cardholder Name</th>
                        
                            <th>Card Number</th>
                       
                            <th>Expiry Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of personal?.CardDetail">
                            <td >{{item.name}} </td>
                            <td>{{item.cardNumber}}</td>
                            <td>{{item.expiryDate | slice:0:2}}/20{{item.expiryDate | slice:2:4}}</td>
                        </tr>
                      
                    </tbody>
                  
                </table> 
    </div>
</div>
