<div class="single-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12 detail-box">
                <label>First Name:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>Last Name:</label>
                <span>Headir</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>First Name:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>Zip Code:    </label>
                <span>7500</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>City:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>Country:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>States:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>Phone no:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                <label>Comapany:</label>
                <span>Ali</span>
            </div>
            <div class="col-md-12 detail-box">
                    <label>Address:</label>
                    <span>Ali</span>
                </div>
        </div>
    </div>
    <div class="table-box">
            <table>
                    <thead>
                        <tr>
                            <th>User Preference</th>
                        
                            <th>State Preference</th>
                       
                            <th>City Preference</th>
                        
                            <th>Country Preference</th>
                            <th>Agency Preference</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>ksjdak</td>
                            <td>dsfasdffdsfsa</td>
                            <td >Basic</td>
                            <td >Premium</td>
                            <td >Monthly</td>
                          
                            <!-- <td>{{item.is_expired}}</td> -->
                            
                            
                            
                            
                        </tr>
                    </tbody>
                  
                </table> 
    </div>
</div>
