/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }


.view{
    padding: 20px 0px;
}
.mt-75px{
    margin-top: 75px;
}
.width-full{
    width: 100%;
}
.margin-t-10{
    margin-top: 10px;
}
.swal2-title{
    font-size: 20px !important;
}
.btn-fill{
    background: #000;
    color: #fff;
    padding: 4px 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 6px 2px #ccc;
}
.btn-fill:hover{
    background: #c00;
    color: #fff;
}
.detail-btn{
    box-shadow: 2px 2px 6px 2px #ccc;
}
.cdk-overlay-container ,
.cdk-overlay-pane {
 z-index: 9999 !important
}
.admin-home-palceholder span{
 margin-top: 5px;
}
////////////////////////////Start pagination//////////////////////////////
.pagination-nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pagination-nav .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .pagination-nav .pagination > .active > a {
    background-color: #c00;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 6px 11px;
}
.pagination-nav .pagination > li > a, .pagination > li > span {
    border: 0;
    border-radius: 30px!important;
    transition: all .3s;
    padding: 0 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background: 0 0;
    cursor: pointer;
}
.pagination-nav .btn-fill {
    color: #fff!important;
    background-color: #000!important;
    font-weight: 600!important;
}
.pagination-nav .btn-fill:hover {
    color: #fff!important;
    background-color: #c00!important;
}
///////////////////////////End pagination////////////////////////////////


//////////////////////////////Start Form//////////////////////////////////
.sh-signup-form-fix .mat-form-field-underline{
    bottom: 18px;
}
.sh-signup-form-fix .mat-input-element {
    font-size: 24px;
    color: #000;
    padding-bottom: 8px;
    font-weight: 500;
  }
  .login-form-1 .mat-form-field-appearance-legacy .mat-form-field-label{
    top: 30px;
    color: rgba(0,0,0,.54)!important;
    font-weight: 600;
  }
  .login-form-1 .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-26px) scale(.75) perspective(100px) translateZ(.001px)!important;
    transform: translateY(-26px) scale(.75) perspective(100px) translateZ(.001px)!important;
    -ms-transform: translateY(-26px) scale(.75)!important;
}
.sh-signup-form-fix .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 12px;
}



.checkbox .mat-slide-toggle-content {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(0,0,0,.47)!important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #000!important;
}
.mat-slide-toggle-thumb {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  background-color: #fafafa;
}

.date-picker .mat-form-field {
    margin-right: 10px;
}
.date-picker .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-14px) scale(.75) perspective(100px) translateZ(.001px);
    transform: translateY(-14px) scale(.75) perspective(100px) translateZ(.001px);
    -ms-transform: translateY(-14px) scale(.75);
    width: 133.33333%;
}
.date-picker .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0px;
}
.date-picker .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
}

.date-picker .mat-form-field-appearance-legacy .mat-form-field-label{
    font-weight: bold;
}
.date-picker input.mat-input-element {
    font-size: 20px;
    font-weight: bold;
}
/////////////////////////////End Form/////////////////////////////////////






// Start Side Bar
.sidebarToggle{
    display: none;
}
.sidebar-outlet{
    display: block;
}
.btn-close{
    display: none;
}
// End Side Bar
.table-responsive {
    overflow-x: scroll;
    max-height: 388px;
    overflow-y: scroll;
}
.table-box table th{
    white-space: nowrap;
    font-size: 15px;
}
.table-box table td{
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}
.icons button{
    box-shadow: 2px 2px 6px 2px #ccc;
}




@media (min-width:992px) {
    .sidebar-outlet{
        display: block !important;
    } 
}
@media (max-width:991px) {
    .table-box{
        padding: 0 15px;
    }
    .view{
        padding: 0;
    }
    .sidebar-outlet{
        top: 69px !important;
    }
    .content-router-outlet{
        width: 100% !important;
        margin-top: 0px !important;
    }
    .sidebarToggle{
        display: block;
        margin-top: 67px;
    }
    .sidebar-close-btn{
        position: absolute;
        right: 5px;
        top: 3px;
        background: #000;
        border-radius: 100px;
    }
    .btn-close{
        display: block;
        margin: 0;
        text-align: right;
        color: #fff;
        font-weight: bold;
        padding: 0px 7px;
        cursor: pointer;
        z-index: 3;
    }
    .sidebar-outlet{
        display: none;
    } 
}

@media (max-width:660px) {
    .date-picker .mat-form-field {
        width: 32% !important;
    }
    .box{
        margin-bottom: 10px;
    }
    .login-form-1-center {
        width: 100% !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
